* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url('images/Wallpaper.webp');
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #7a824e;
  border-radius: 16px;
  width: 450px;
  height: 300px;
  background-color: #7a824e;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.butao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #555d29;
    border-radius: 16px;
    width: 100px;
    height: 10px;
    background-color: #555d29;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}